form{
  display: block!important;
  width: 99%;
}

.noe-form-group{
  display: block;
  margin: 5px;
  clear:right!important;
}

label{
    display: block;
    font-size: 1.1em;
    margin-bottom: 3px;
    margin-left: 5px;
}
.noe-text-input{
  border : 1px solid #CED4DA;
  border-radius: 4px;
  width: 99%;
  font-size: 1.1em;
  padding: 0.4em 0.25em;
}
